.sadhguru-demo-card {
    width: calc(100vw / 4);
    height: calc(100vw / 2.5);
    padding: 25px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  .sadhguru-demo-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 8px;
  }
  
  .sadhguru-demo-card h2 {
    font-size: 18px;
    margin-bottom: 8px;
  }
  
  .sadhguru-demo-card p {
    margin-bottom: 8px;
  }
  
  /* Add more styles as needed */
  